<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
  <h1>Log In</h1>
  <hr>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class='form-group'>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <%= f.email_field :email, autofocus: true, class: "form-control", required: true %>
        </div>
      </div>
    </div>

    <div class='form-group'>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <%= f.password_field :password, autocomplete: "off", class: "form-control", required: true %>
        </div>
      </div>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class='form-group'>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <label class="fancy-checkbox">
              <%= f.check_box :remember_me %>
              <span>Remember Me</span>
            </label>
          </div>
        </div>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Log In", class: "btn btn-success" %>
    </div>
  <% end %>
  <%= render "users/shared/links" %>
</div>

