<%- if controller_name != 'sessions' %>
  <%= link_to "Sign in", new_session_path(resource_name), class: "btn btn-success margin-top-10" %>
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%= link_to "Sign up", new_registration_path(resource_name), class: "btn btn-primary margin-top-10" %>
<% end -%>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "Forgot your password?", new_password_path(resource_name), class: "btn btn-default margin-top-10" %>
<% end -%>
