<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <h1>Users</h1>
  <hr>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="col-xs-12 col-sm-6 col-md-10 col-lg-10">
    <%= paginate @users %>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 pull-right record-selector">
    <%= form_tag users_path, method: :get, id: 'users-limit-form' do %>
      <%= select_tag :limit, options_for_select(pagination_list, selected: selected_limit(params)), class: "form-control"  %>
      <div>users per page</div>
    <% end %>
  </div>

  <div class="clearfix"></div>

  <%= form_tag bulk_compose_emails_path, method: :post do %>
    <div class="table-responsive">
      <table class="table table-stretched table-striped table-hover ">
        <thead>
          <th>
            <label class="fancy-checkbox bulk-label">
              <%= check_box_tag 'bulk_tag', 'yes', false, class: 'toggle-in-bulk' %>
              <span></span>
            </label>
          </th>
          <th>Name</th>
          <th>Email</th>
          <th>Action</th>
        <thead>

        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td>
                <label class="fancy-checkbox">
                  <%= check_box_tag "users[]", '0', false, class: 'users-checkbox' %>
                  <span></span>
                  <%= hidden_field_tag "user", user.id, class: 'user-id' %>
                </label>
              </td>
              <td><%= titleize(user.name) %></td>
              <td><%= user.email %></td>
              <td><%= link_to 'Compose Mail', compose_emails_path(user) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= submit_tag 'Bulk Send', class: 'bulk-compose btn btn-primary pull-right', disabled: true %>
  <% end %>
  <%= paginate @users %>
</div>


