<div class="col-xs-112 col-sm-12 col-md-12 col-lg-12 text-center">
  <h1>Forgot your password?</h1>
  <hr>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

      <div class='form-group'>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <%= f.email_field :email, placeholder: "Email", autofocus: true, class: "form-control", required: true %>
          </div>
        </div>
      </div>

      <div class="actions">
        <%= f.submit "Send me reset password instructions", class: "btn btn-primary" %>
      </div>
  <% end %>

  <%= render "users/shared/links" %>
</div>
