[class*="col-"] {
 -webkit-transition: all 0.4s ease;
 transition: all 0.4s ease;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #221F1F;
}

li {
  list-style: none;
}

a {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  text-decoration: none;
  outline: none;

  &:hover, &:active, &:focus {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    text-decoration: none;
    outline: none;
  }
}

.navbar {
  background: #55D365;
}

.navbar-header {
  a {
    color: #fff;

    &:hover {
      color: #000;
    }

    i {
      font-size: 50px;
    }
  }
}

ul.navbar-right {

  margin-right: 0px;
  float: right;

  li {
    float: left;
    position: relative;

    a {
      color: #FFF !important;

      &:hover, &:focus {
       color: #000 !important;
      }
    }
  }
}

.navbar-nav {
  li {
    margin-top: 5px;
  }
}

.alert {
  margin-top: 15px;
}

.main-content {
  margin-top: 60px;
}

.bulk-label{
  margin-bottom: 0px;
}

.fancy-checkbox {
  input[type="checkbox"] {
    display: none;
  }

  span:before {
    font-family: FontAwesome;
    display: inline-block;
    width: 1em;
    height: 1em;
    content: '\f096';
    margin-right: .3em;
  }

  input[type="checkbox"]:checked ~ span:before {
    content: '\f046';
  }
}

.bulk-compose {
  margin-top: 20px;
}

.new_email {
  textarea {
    max-width: 945px;
    height: 300px;
  }

  ul {
    width: 68em;
  }

  li {
    float: left;
    width: 33.7em;
  }

  .list-wrapper
  {
    margin-bottom: 1em;
  }
}

.center-div {
  margin: 0 auto;
  width:80%;
}

.new_user,
.edit_user {
  width: 70%;
  margin-left: 15%;
}

.margin-top-10 {
  margin-top: 10px;
}

.footer {
  background: #f3f3f3;
  float: left;
  width:100%;
  bottom: 0px;

  .copyright {
    color: #000;
    float: right;
    font-family: 'Montserrat Light', arial;
    line-height: 100px;
  }
}

.record-selector {
  margin: 20px 0;
}

.off-canvas-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -ms-flex-direction: column;
  flex-direction: column;
}

.off-canvas-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}

.off-canvas-container .main-content {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
