<div class="col-xs-112 col-sm-12 col-md-12 col-lg-12">
  <h1>Compose Email</h1>
  <hr>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <%= form_for @email do |f| %>

    <div class='form-group'>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
          <%= f.label :recipients %>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
          <ul class="list-group list-wrapper">
            <% @recipients.each do |recipient| %>
              <li class="list-group-item"><%= recipient.email %></li>
              <%= f.hidden_field "users", multiple: true, value: recipient.id %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class='form-group'>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
          <%= f.label :subject %>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
          <%= f.text_field :subject, placeholder: "Subject", class: "form-control" %>
        </div>
      </div>
    </div>

    <div class='form-group'>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
          <%= f.label :body %>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
          <%= f.text_area :body, placeholder: "Body", class: "form-control" %>
        </div>
      </div>
    </div>

    <div class='form-group'>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <%= f.submit "Send", class: "btn btn-success pull-right" %>
        </div>
      </div>
    </div>

  <% end %>
</div>
