<div class="col-xs-112 col-sm-12 col-md-12 col-lg-12 text-center">
  <h1>Edit <%= resource_name.to_s.humanize %></h1>
  <hr>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class='form-group'>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <%= f.text_field :name, autofocus: true, placeholder: "Name", class: "form-control", required: true %>
        </div>
      </div>
    </div>

    <div class='form-group'>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <%= f.email_field :email, placeholder: "Email", class: "form-control", required: true %>
        </div>
      </div>
    </div>

    <div class='form-group'>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <%= f.password_field :current_password, placeholder: "Current Password", autocomplete: "off", class: "form-control", required: true %>
        </div>
      </div>
    </div>

    <div class='form-group'>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control" %>
        </div>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
      </div>
    </div>

    <div class='form-group'>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <%= f.password_field :password_confirmation, placeholder: "Confirm Password", autocomplete: "off", class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="actions">
      <%= f.submit "Update Account", class: 'btn btn-primary' %>
    </div>
  <% end %>

  <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger margin-top-10" %>
</div>
