<div class="col-xs-112 col-sm-12 col-md-12 col-lg-12 text-center">
  <h1>Sign Up</h1>
  <hr>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class='form-group'>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <%= f.text_field :name, autofocus: true, placeholder: "Name", class: "form-control", required: true %>
        </div>
      </div>
    </div>

    <div class='form-group'>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <%= f.email_field :email, placeholder: "Email", class: "form-control", required: true %>
        </div>
      </div>
    </div>

    <div class='form-group'>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control", required: true %>
        </div>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
      </div>
    </div>

    <div class='form-group'>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <%= f.password_field :password_confirmation, placeholder: "Confirm Password", autocomplete: "off", class: "form-control", required: true %>
        </div>
      </div>
    </div>

    <div class="actions">
      <%= f.submit "Sign Up", class: 'btn btn-primary' %>
    </div>
  <% end %>
  <%= render "users/shared/links" %>
</div>

